*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

/* Navbar style */
.bg-dark_black{
    background-color: black;
}
.navbar-brand{
    font-family: 'Island Moments', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.nav-item i {
    padding: 5px;
}
.nav-item:hover{
    background-color: rgba(37, 212, 24, 0.899);
    border-radius: 10px;
}

.Avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    border: solid white;
    border-radius: 50px;
}
.avatar-img{
    padding: 5px;
    border-radius: 50px;
    width: 50px;
}
.userNamePlat{
    padding: 10px;
}


/* shopping-cart CSS */
/* The popup cart - hidden by default */
.playlist-popup {
    display: none;
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 0;
    border: 3px solid #000000;
    z-index: 9;
    height: 100%;
}
/* The Close Button (x) */
.closePlaylist {
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}
.closePlaylist:hover,
.closePlaylist:focus {
    color: red;
    cursor: pointer;
}
/* Add styles to the form container */
.innerPlaylist-container {
    max-width: 300px;
    height: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.innerPlaylist-container img {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    min-height: 300px;
}
.innerPlaylist-container .booktestBtn {
    font-weight: bold;
    background-color: white;
    color: red;
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 160px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/* Add some hover effects to buttons */
.innerPlaylist-container .booktestBtn:hover {
    color: black;
}



/* Main body style */
.header-likedPage{
    display: flex;
    flex-direction: row;
    background-color: rgb(66, 88, 231);
    color: white;
}
/* header part of liked page */
.header-likedPage .liked-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20px;
    padding: 80px;
    background-color: rgb(130, 30, 217);
    border: solid rgb(130, 30, 217);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.602);
    transition: all;
}
h4{
    margin-top: 200px;
    margin-bottom: 10px;
    font-weight: 200;
}
h1{
    margin-top: 200px;
    font-weight: 900;
    font-size: 100px;
}
.transfer-Header{
    display: flex;
    align-items: center;
    background-color: rgba(4, 48, 75, 0.762);
    color: white;
    height: 150px;
}
.transfer-Header i{
    padding: 20px;
    margin: 5px;
}
#masterPlay:hover{
    transform: scale(1.2);
}
.search-container{
    position: absolute;
    right: 3vw;
}

/* list */
.playlistOfLikedSong{
    background-color: black;
    color: white;
}

/* playlistOfLikedSong-Table */
table {
    border-collapse: collapse;
    width: 97%;
    margin: 25px 25px 100px 25px;
    padding: 5px;
}
table th {
    font-weight: bolder;
    margin-bottom: 20px;
    border-bottom: groove white;
}
table td, th {
    text-align: left;
    padding: 8px;
}
table td i {
    cursor: pointer;
}
table tr:hover td {
    background-color: rgba(138, 135, 135, 0.5);
}
table .hiddenInTable {
    display: none;
}
table .songInfo-poster {
    display: flex;
    flex-direction: row;
}
table .songInfo-poster .songPoster {
    width: 80px;
    margin: 1px;
    padding: 4px;
    border-radius: 8px;
} 
table .songInfo-poster .songInfo {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

